page-formulario-crianza {

    .coment-cont{
        width: 100%;
        display: flex;
        padding: 5px;
        margin-bottom: 0.5em;
        .coment-item{
            display: flex;
            width: 100%;
            background-color: #FAFAFA;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            -moz-box-shadow:    2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            box-shadow:         2px 2px 18px 0px rgba(117, 114, 114, 0.425);

            padding: 11px;
        }

    }

    .item-input .label, .item-select .label, .item-datetime .label {
      color: unset;
    }

    .scroll-content {
        padding: 0 !important;
      }

      .item-input ion-label {
          font-size: 13px;
      }

      .item {
          font-size: 13px;
      }

      .the-container{
        background-image: url('../assets/imgs/linea.png');
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
        
    }

    .item.item-block .item-inner {
      border-bottom: none;
    }

    .login-btn{
        border-radius: 10px;
        background-color: #2264A7;
        font-size: 1.2em !important;
    }

    .item-input ion-label {
        max-width: 300px;
    }

    .nav-button {
        color: #488aff;
        background-color: unset;
        box-shadow: none;
    }

    .border-col {
        border: 1px solid #D6D6D6;
    }
    
    .bold-text {
        color: #0D67E6;  
        font-weight: bold;
        //text-align: center;
        vertical-align: top;
    }

  
  
  

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .button-round {
      padding: 0 10rem;  
    }

    .input{
        margin-top: 0%;    
        height: 0.1em;   
        float: right !important;    
  
        
    }

  
}
