<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only start (click)="general.menu();">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  
  </ion-toolbar>
</ion-header>


<ion-content margin-top padding >

      <div class='the-container'>
        <span  style='color: #fff; font-size: 20px;'>Formulario de Crianza de {{permiso}}s</span>
      </div>
      
      <ion-row margin-top margin-bottom>
        <ion-col class='border-col'  margin-bottom>
          <div hidden class='title-separation'>
            Fecha:
          </div>
         
        <ion-item >
          <ion-label>Fecha:</ion-label>
          <ion-datetime [(ngModel)]='fecha.fechaInicio' #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY' max="{{fecha.fechaInicio}}"  name='fecha'></ion-datetime>
        </ion-item>
        </ion-col>
        <ion-col class='border-col header-separation' margin-bottom>
      
      
          <ion-item >
            <ion-label >Hora:</ion-label>
            <ion-datetime [(ngModel)]='fecha.horaInicio' #dateinput class="bold-text" displayFormat='HH:mm' pickerFormat='HH:mm' name='hora'></ion-datetime>
          </ion-item>
          
        </ion-col>
      </ion-row>
      
      <div class="coment-cont" >
        <div class=" coment-item">
              <ion-grid>
                <ion-row>
                  <ion-col col-6><ion-label>Usuario: </ion-label> </ion-col>
                  <ion-col col-6 class="bold-text">{{Usuario}}</ion-col>
                </ion-row>
              </ion-grid>
        </div>
      </div>

      <div class="coment-cont" >
          <div class=" coment-item">
                <ion-grid>
                  <ion-row>
                    <ion-col col-6><ion-label>Sector:</ion-label></ion-col>
                    <ion-col col-6 class="bold-text">{{sector}}</ion-col>
                  </ion-row>
                </ion-grid>
          </div>
        </div>


        <div class="coment-cont" >
            <div class=" coment-item">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-6> <ion-label>Pabellon:</ion-label></ion-col>
                      <ion-col col-6 class="bold-text">
                         <ion-select [(ngModel)]="idPabellon"  col-12  placeholder="Seleccione pabellón">
                          <ion-option  *ngFor="let pabellon of pabellones"  [value]="pabellon.id" name='pabellon' col-12 >{{pabellon.nro_pabellon}}</ion-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </div>
          </div>

      
          <div class="coment-cont" >
              <div class=" coment-item">
                    <ion-grid>
                    
                        <ion-row>
                            <ion-col col-6> <p>  N° Crianza:</p></ion-col>
                            <ion-col  col-6 >
                                <ion-input   class="bold-text" [(ngModel)]="idCrianza"   type='number' placeholder="Ingrese N° crianza"></ion-input>
                           </ion-col>
                          </ion-row>
                    </ion-grid>
              </div>
            </div>

            <div class="coment-cont" >
                <div class=" coment-item">
                      <ion-grid>
                        <ion-row>
                          <ion-col text-center> <ion-label>Origen:</ion-label></ion-col>
                       
                        </ion-row>
                        <ion-row>
                            <ion-col col-12 class="bold-text">
                                <ion-select [(ngModel)]="origen" col-12  text-center placeholder="Seleccione pabellón">
                                    <ion-option col-12  *ngFor="let origen of origenes"  [value]="origen.id" name='pabellon'>{{origen.origen}}</ion-option>
                                  </ion-select>
                            </ion-col>
                        </ion-row>
                      </ion-grid>
                </div>
              </div>

     

    

        <ion-row class="coment-cont" margin-top>
            <ion-col class=" coment-item" margin-bottom>

                <ion-grid>
                    <ion-row>
                      <ion-col col-6><ion-label>Fecha inicio crianza:</ion-label></ion-col>
                      <ion-col col-6 class="bold-text">
                          <ion-datetime [(ngModel)]='fecha.fechaInicioCrianza' #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY' max="{{fecha.fechaInicioCrianza}}"  name='fecha' col-12></ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
         
    
           
            </ion-col>
        </ion-row> 

        <div class="coment-cont" >
            <div class=" coment-item">
                <ion-grid>
                    <ion-row>
                      <ion-col col-6><p>Cantidad inicial de animales: </p>  </ion-col>
                      <ion-col col-6 class="bold-text">
                          <ion-input class="input" [(ngModel)]="cantidadInicial"  type='number' col-12  placeholder="Ingrese cantidad animales"></ion-input>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
              
            </div>
          </div>

          <div class="coment-cont" >
              <div class=" coment-item">


                  <ion-grid>
                      <ion-row>
                        <ion-col col-6 > <ion-label>Sexo:</ion-label></ion-col>
                       <ion-col col-6 class="bold-text">
                              <ion-select [(ngModel)]="sexo" col-12 placeholder="Seleccione sexo">
                                  <ion-option col-12 value="Hembra">Hembra</ion-option>
                                  <ion-option col-12 value="Macho">Macho</ion-option>
                                  <ion-option col-12 value="Mixto">Mixto</ion-option>
                            
                                </ion-select>
                          </ion-col>
                      </ion-row>
                      
                    </ion-grid>

           
              </div>
            </div>

            <div class="coment-cont" >
                <div class=" coment-item">

                    <ion-grid>
                        <ion-row>
                          <ion-col col-6> <p> Peso promedio inicial:</p>  </ion-col>
                          <ion-col col-6 class="bold-text">
                              <ion-input class="input" [(ngModel)]="pesoPromedioInicial" type='number' col-12 placeholder="Ingrese peso"></ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                
                
                </div>
              </div>

              <div class="coment-cont">
                  <div class=" coment-item">
                      <ion-grid>
                          <ion-row>
                            <ion-col col-6> <p> Edad inicio: </p> </ion-col>
                            <ion-col col-6 class="bold-text">
                                <ion-input class="input" [(ngModel)]="edadInicial" type='number' col-12 placeholder="Ingrese edad"></ion-input>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                   
                  </div>
                </div>

                <div class="coment-cont"  *ngIf="permiso=='ave'">
                    <div class=" coment-item">
                        <ion-grid>
                            <ion-row>
                              <ion-col col-6> <p>Edad reproductora: </p>  </ion-col>
                              <ion-col col-6 class="bold-text">
                                  <ion-input class="input" [(ngModel)]="edadReproductora" type='number' col-12 placeholder="ingrese edad"></ion-input>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                     
                    </div>
                  </div>

                  <div class="coment-cont" *ngIf="permiso=='ave'">
                      <div class=" coment-item">
                          <ion-grid>
                              <ion-row>
                                <ion-col col-6><p>Cantidad edad reproductora nuevos: </p>  </ion-col>
                                <ion-col col-6 class="bold-text">
                                    <ion-input class="input" [(ngModel)]="edadReproductoraNueva"  type='number' col-12 placeholder="Ingrese cantidad"></ion-input>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                    
                      </div>
                    </div>

                    <div class="coment-cont" *ngIf="permiso=='ave'">
                        <div class=" coment-item">
                            <ion-grid>
                                <ion-row>
                                  <ion-col col-6><p> Cantidad edad reproductora medianos: </p>  </ion-col>
                                  <ion-col col-6 class="bold-text">
                                      <ion-input class="input" [(ngModel)]="edadReproductoraMediana"  type='number' col-12 placeholder="Ingrese cantidad"></ion-input>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                      
                        
                        </div>
                      </div>

                      <div class="coment-cont" *ngIf="permiso=='ave'">
                          <div class=" coment-item">
                              <ion-grid>
                                  <ion-row>
                                    <ion-col col-6><p>Cantidad edad reproductora viejos:</p>    </ion-col>
                                    <ion-col col-6 class="bold-text">
                                        <ion-input class="input" [(ngModel)]="edadReproductoraVieja"  type='number' placeholder="Ingrese cantidad"></ion-input>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                         
                          </div>
                        </div>

                        <div class="coment-cont"  *ngIf="permiso=='ave'">
                            <div class=" coment-item">
                                <ion-grid>
                                    <ion-row>
                                      <ion-col col-6><p>Medidor de luz: </p> </ion-col>
                                      <ion-col col-6 class="bold-text">
                                          <ion-input class="input" [(ngModel)]="medidorLuz"  type='number' col-12 placeholder="Ingrese medidor(no requerido)"></ion-input>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                            
                            </div>
                          </div>

                          <div class="coment-cont"  *ngIf="permiso=='ave'">
                              <div class=" coment-item">
                                  <ion-grid>
                                      <ion-row>
                                        <ion-col col-6> <p> Medidor de agua:  </p>  </ion-col>
                                        <ion-col col-6 class="bold-text">
                                            <ion-input class="input" [(ngModel)]="medidorAgua"  type='number' col-12 placeholder="Ingrese medidor(no requerido)"></ion-input>
                                        </ion-col>
                                      </ion-row>
                                    </ion-grid>
                         
                              </div>

                             

                          </div>
                          <div class='btn-container'>
                              <button margin-bottom ion-button round  style='margin-bottom: 30px' class="login-btn" type='submit' (click)='submit()'  *ngIf="permiso=='ave'" [disabled]="!idPabellon ||!idCrianza || !origen ||!fecha.fechaInicioCrianza ||!cantidadInicial ||!sexo ||!pesoPromedioInicial ||!edadInicial ||!edadReproductora ||!edadReproductoraNueva ||!edadReproductoraMediana ||!edadReproductoraVieja" >Enviar </button>
                              <button margin-bottom ion-button round  style='margin-bottom: 30px' class="login-btn" type='submit' (click)='submit()'  *ngIf="permiso=='cerdo'" [disabled]="!idPabellon ||!idCrianza || !origen ||!fecha.fechaInicioCrianza ||!cantidadInicial ||!sexo ||!pesoPromedioInicial ||!edadInicial  " >Enviar </button>  
                            </div>
          </ion-content>