<ion-menu  id='main-menu' type="overlay"  [content]="mycontent" no-padding>
    <ion-content no-padding>
        <div text-right class="menu-header" *ngIf="memory.userProfile!=null" >
            <div style='margin-bottom: 50px;  font-size: 1.8em' menuClose class="item-tag">
                <ion-icon class='the-arrow' name="arrow-back"></ion-icon>
            </div>
            <div class="full-name"> {{memory.userProfile['nombre']}} {{memory.userProfile['apellido']}}</div>
            <div class="email">{{memory.userProfile['email']}}</div>
        </div>

        <div class="menu-content" *ngIf="memory.userProfile!=null">
                <div class="menu-item"> 
                    <div class="item-tag">
                        rut:
                    </div>
                    <div class="item-content">
                            {{memory.userProfile['rut']}}
                    </div>
                </div>
                <div class="menu-item"> 
                    <div class="item-tag">
                        tel.:
                    </div>
                    <div class="item-content">
                            {{memory.userProfile['fono']}}
                    </div>
                </div>
                <div class="menu-item"> 
                    <div class="item-tag">
                        empresa:
                    </div>
                    <div class="item-content">
                            {{memory.userProfile['empresa']}}
                    </div>
                </div>
                <div class="menu-item"> 
                    <div class="item-tag">
                        sector:
                    </div>
                    <div class="item-content">
                            {{memory.userProfile['sector']}}
                    </div>
                </div>
                <div class="menu-item"> 
                    <div class="item-tag">
                        usuario:
                    </div>
                    <div class="item-content">
                            {{memory.userProfile['username']}}
                    </div>
                </div>

                <div *ngIf="general.mostrarSelectorFormulario" style="margin-top: 10px" class="menu-item logout" (click)="onToFormularios()"> 
                    <div class="item-tag">
                            <ion-icon name="md-send"></ion-icon>
                    </div>
                    <div class="escoger-form" class="item-content">
                        <span>Escoger formulario</span>
                    </div>
                </div>

                <div class="menu-item logout" style="margin-top: 15px" (click)="logout()"> 
                        <div class="item-tag">
                                <ion-icon name="md-send"></ion-icon>
                        </div>
                        <div class="item-content">
                        <span>Cerrar sesión</span>
                        </div>
                    </div>
        </div>
    </ion-content>
</ion-menu>
      
<ion-nav #mycontent [root]="rootPage"></ion-nav>
