<!--
  Generated template for the DietaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only start (click)="general.menu();">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button icon-only hidden >
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-content padding>

    <div class='the-container'>
      <span  style='color: #fff; font-size: 20px;'>Formulario de Dieta</span>
    </div>
    
    <ion-row margin-top>
      <ion-col class='border-col'  margin-bottom>
        <div hidden class='title-separation'>
          Fecha:
        </div>
       
      <ion-item >
        <ion-label>Fecha:</ion-label>
        <ion-datetime [(ngModel)]='fecha.fechaInicio' #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY' max="{{fecha.fechaInicio}}"  name='fecha'></ion-datetime>
      </ion-item>
      </ion-col>
      <ion-col class='border-col header-separation' margin-bottom>
    
    
        <ion-item >
          <ion-label>Hora:</ion-label>
          <ion-datetime [(ngModel)]='fecha.horaInicio' #dateinput class="bold-text" displayFormat='HH:mm' pickerFormat='HH:mm' name='hora'></ion-datetime>
        </ion-item>
        
      </ion-col>
    </ion-row>
    
  
    <div class="coment-cont">
        <div class=" coment-item">
          <ion-item>
            <ion-label>Sector:</ion-label>
            <ion-select [(ngModel)]="informacion.sector" interface="action-sheet">
              <ion-option *ngFor='let sector of sectores' (ionSelect)='onFilter(sector)' name='sector'>{{sector.nombre}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    
    <div class="coment-cont" >
      <div class=" coment-item">
          <ion-item>
              <ion-label>Pabellon:</ion-label>
              <ion-select [(ngModel)]="informacion.idPabellon" interface="action-sheet" >
                <ion-option  *ngFor="let pabellon of pabellones"  [value]="pabellon" name='pabellon'>{{pabellon}}</ion-option>
                
          
              </ion-select>
            </ion-item>
      </div>
    </div>
    <div class="coment-cont" >
      <div class=" coment-item">
          <ion-item>
              <ion-label>Crianza</ion-label>
              <ion-select [(ngModel)]="informacion.crianza" interface="action-sheet" >
                <ion-option  *ngFor="let pabellon of pabellones"  [value]="pabellon" name='pabellon'>{{pabellon}}</ion-option>
                
          
              </ion-select>
            </ion-item>
      </div>
    </div>
    <div class="coment-cont" >
      <div class=" coment-item">
          <ion-item>
              <ion-label>Silos:</ion-label>
              <ion-select [(ngModel)]="informacion.silos" interface="action-sheet" >
                <ion-option  [value]="1" name='silo'>Silo 1</ion-option>
                <ion-option  [value]="2" name='silo'>Silo 2</ion-option>
                
          
              </ion-select>
            </ion-item>
      </div>
    </div>
    
    <div class="coment-cont" >
      <div class=" coment-item">
        <ion-item>
          <ion-label>Número de guía: </ion-label>
          <ion-input [(ngModel)]="informacion.numeroGuia"  type='number'></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="coment-cont" >
      <div class=" coment-item">
        <ion-item>
          <ion-label>Dieta:</ion-label>
          <ion-select [(ngModel)]="informacion.dieta" interface="action-sheet" >
            <ion-option  *ngFor="let dieta of dietas"  [value]="dieta" name='dieta'>{{dieta}}</ion-option>
            
      
          </ion-select>
        </ion-item>
      </div>
    </div>

    
    
    <div class='btn-container'>
      <button margin-bottom ion-button round class="login-btn" type='submit' (click)='submit()' > Subir </button>
    </div>

</ion-content>
