page-pabellon {

   

    .header  .toolbar {
        padding: 2em 1.5em;

        .toolbar-title{
            color: #2264A7;
            overflow: visible;
            word-wrap: normal;
            font-size: 1.35em !important;
           // text-align: left;
        }

         .bar-buttons{
            align-self: flex-start !important;
        }

        -webkit-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.65);
        -moz-box-shadow:    0px 5px 18px 0px rgba(50, 50, 50, 0.65);
        box-shadow:         0px 5px 18px 0px rgba(50, 50, 50, 0.65);
    }
    .coment-cont{
        width: 100%;
        display: flex;
        padding: 5px;
        margin-bottom: 0.5em;
        .coment-item{
            display: flex;
            width: 100%;
            background-color: #FAFAFA;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            -moz-box-shadow:    2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            box-shadow:         2px 2px 18px 0px rgba(117, 114, 114, 0.425);

            padding: 11px;
        }

    }
    .sector-list{
        padding: 1em 2em 6em 2em;
        background-image: url('../assets/imgs/linea.png');
        background-position: center;
        background-size: contain;
        background-repeat: repeat;

        .item {
            background-color: transparent;
            color: #fff !important;
        }

        

        p{
            
            font-size: 0.9em !important;
            color: #fff !important;
        }

        .bold-text{
            font-weight: bold;
        }
        

        .bg-size{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 2em;
            width: 2em;
        }
        .sector-ico1{
            background-image: url('../assets/imgs/sector.svg');
        }
        .sector-ico2{
            background-image: url('../assets/imgs/pabellones.svg');
        }
        .sector-ico3{
            background-image: url('../assets/imgs/crianza.svg');
        }

    }


    .causales-list{

        position: relative;
        top: -8%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;


        .causal-cont{

            width: 50%;
            display: flex;
            padding: 5px;

            .causal-input-cont{

                display: flex;

                flex-flow: row wrap;
                flex: 1;

                background-color: rgb(244, 244, 244);
                border-radius: 3px;
                padding: 10px;
                padding-top: 0.7em;
                /* -webkit-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.65);
                -moz-box-shadow:    0px 5px 18px 0px rgba(50, 50, 50, 0.65);
                box-shadow:         0px 5px 18px 0px rgba(50, 50, 50, 0.65); */

                .sub-btn{
                    display: flex;
                    flex: 1;
                    font-size: 3.5em;
                    color: #2264A7;
                    font-weight: bold;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);
                }
                .causal-input{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;

                    .item{
                        background-color: transparent !important;
                    }
                    .item-inner{
                        border: none !important;
                        box-shadow: none !important;
                    }
                    .text-input{

                        color: #000;
                        font-weight: bold;
                        font-size: 2em;
    
                            text-align: center;
                    }
                }
                .add-btn{
                    display: flex;
                    flex: 1;
                    font-size: 3em;
                    color: #2264A7;
                    font-weight: bold;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);

                }
                .causal-txt{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }


    .save-btn{
        //position: relative;
       //top: -7%;
        width: 100%;
        display: flex;
        
        align-content: center;
        align-items: center;
        font-size: 1.3em;
        padding: 1em;
        background-color: #2264A7;
        color: #FFF;
        font-weight: lighter;
        //margin-top: 1.5em;

        .icon{
            margin-left: 1em;
        }
        .total{
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
        }
        .guardar{
            display: flex;
            justify-content: flex-end;
            flex: 1;
            align-content: center;
            align-items: center;
        }
    }
    .input-row{
        font-size: 2em;
        width: 100%;
        padding: 0 20%;
        display: flex;
        flex-direction: row;
        height: 2.5em;
        margin-top: 0.4em;
        .input-tag{
            display: flex;
            flex:1;
            justify-content: center;
            align-items: center;

        }
        .input-div{
            width: 40%;
            
        }
        .item-button{
            height: 4em;
            .button-inner{
                height: 4em;
            }
        }
        .icon{
            font-size: 3em;
        }
        .text-input{
            text-align: center;
            font-size: 2em;
        }
    }
}
