<!--
  Generated template for the ConfirmacionContadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class='text-container'>
    <h1 class='content'>¡Su formulario ha sido enviado!</h1>
  </div>
  <div class='btn-container'>
    <button margin-bottom ion-button round class="login-btn" (click)='logout()' > Cerrar sesión</button>
    <button margin-bottom ion-button round class="login-btn" navPop > Regresar</button>
  </div>

</ion-content>
