<ion-header>
              <ion-toolbar>
                    <ion-grid>
                            <ion-row>
                                <ion-col col-1>
                                       <ion-buttons>
                                               <button ion-button icon-only start (click)="general.menu();">
                                                 <ion-icon name="menu"></ion-icon>
                                               </button>
                                             </ion-buttons>
                                </ion-col>
                                <ion-col col-9>
                                       <ion-title>
                                               Control de Necropsias
                                     </ion-title>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
              </ion-toolbar>
</ion-header>


<ion-content >

    <ion-list no-lines class="sector-list">
        <ion-item>
            <div class="sector-ico1 bg-size" item-start>
            </div>
            <p> Sector: <span class="bold-text"> {{sectorGuia.sector}} </span></p>
        </ion-item>

        <ion-item>
            <div class="sector-ico2 bg-size" item-start>

            </div>
            <p> Pabellones: <span class="bold-text"> {{cantidadP}}</span></p>
        </ion-item>

        <ion-item>
            <div class="sector-ico3 bg-size" item-start>

            </div>
           
            <p> Origen: <span style="white-space: initial;"> {{origen}}</span></p>
        </ion-item>
    </ion-list>

    <div class="info-btns">
        <div class="flex-btn-cont">
            <div class="info-btn" >
                <div class="info" style="justify-content: center;">
                    Crianza: <span class="bold-text"> {{id_crianza}} </span>
                </div>
                <div class="arrow">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </div>

            </div>
        </div>
        <div class="flex-btn-cont">
            <div class="info-btn" (click)="openDatePicker()">
                <div class="info">
                    <ion-item>
                        <ion-label>Fecha</ion-label>
                        <ion-datetime #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY' [(ngModel)]="fecha.fechaInicio"></ion-datetime>
                    </ion-item>
                </div>
                <div class="arrow">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </div>
            </div>
        </div>
    </div>




</ion-content>


<ion-footer>

    <div class="add-btn-cont">
        <div class="add-btn" text-center (click)="nuevoPabellon()">
            +
        </div>
    </div>
</ion-footer>
